body {
  font-family:'Open Sans', Helvetica, sans-serif; 
  font-size:1.7em; 
  line-height: 1.5em;
}
body, a, h1, h2, h3 {
  color:#444;
}
a {
  color:#ccc;
  text-decoration:none; 
  display:inline-block;
}
a:hover {
  color:#000;
}
.social-links a {
  text-align: center;
}
.social-links a:after {
  content: " . ";
}
.social-links a:last-child:after {
  content: " ";
}
h1 {
  font-weight:normal; 
  font-size: 1em;
  display: inline;
}
#page {
  max-width:700px;
  margin:0 20px;
}
@media(min-width: 800px) {
  #page {
    margin:0 auto; 
  }
}
@media(min-height: 400px) {
  #page {
    padding-top:100px;
  }
}
