body {
  font-family:'Open Sans', Helvetica, sans-serif;
  font-size:1.7em;
  line-height: 1.5em;
}
body, a, h1, h2, h3 {
  color:#444;
}
a {
  color:#444;
  line-height: 1.5em;
  text-decoration:none;
  display:inline-block;
}
a:hover {
  color:#666;
}
header, h1 {
  background: black;
  color: white;
  font-size: 0.6em;
  font-variant: small-caps;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 1.2em;
  padding: 0.7em 1em;
  text-transform: lowercase;
}
h1 a {
  display: inline-block;
  padding: 0 0.5em;
}
h1 a:first-child {
  margin-left: 0.5em;
}
h1 a:hover {
  color: blue;
}
#page {
  margin:20px;
  text-align: center;
}
#page ul {
  display: block;
  margin:0 auto;
  padding:0;
  text-align: center;
}
#page ul li {
  clear: both;
  display: inline-block;
  font-size:0.8em;
  margin:2%;
  text-align: center;
  vertical-align: top;
}
#page ul li a {
  max-width: 220px;
}
#page ul li a span {
  display: block;
  width: 100%;
}
#page p {
  font-size: 0.8em;
  line-height: 1.6em;
  margin: 1em auto;
  max-width: 30em;
}
#page img {
  margin-bottom: 1em;
}
@media (min-width: 700px) {
  #page p {
    font-size: 1em;
    margin-top: 2em;
  }
}