body {
  font-family:'Open Sans', Helvetica, sans-serif;
  font-size:1.7em;
  line-height: 1.5em;
}
body, a, h1, h2, h3 {
  color:#444;
}
a {
  color:#444;
  line-height: 1.5em;
  text-decoration:none;
  display:inline-block;
}
a:hover {
  color:#666;
}
h1 {
  font-weight: normal;
  line-height: 1em;
  margin:0.2em;
}
header {
  margin:2em 0 1em;
}
@media (min-width: 700px) {
  header {
    margin:9em 0 7em;
  }
}
header p {
  line-height: 1em;
  margin:0;
}
header a, header p a, header h1 a {
  line-height: 1em;
}
footer {
/*  background: black;*/
  color: white;
  font-size: 0.6em;
  font-variant: small-caps;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 1.2em;
  padding: 0.7em 1em;
  text-align: center;
  text-transform: lowercase;
}
footer a {
  color: #aaa;
  display: inline-block;
  padding: 0 0.5em;
}
footer a:first-child {
  margin-left: 0.5em;
}
footer a:hover {
  color: blue;
}
#page {
  margin:0 20px;
  text-align: center;
}
#page ul, .container, .container-narrow {
  display: block;
  margin:0 auto;
  max-width: 1060px;
  padding:0;
  text-align: center;
}
#page ul li {
  clear: both;
  display: inline-block;
  font-size:0.8em;
  margin:1em 2% 1em;
  text-align: center;
  vertical-align: top;
}
#page ul li a {
  max-width: 220px;
}
#page ul li a span {
  display: block;
  width: 100%;
}
#page img {
  margin-bottom: 1em;
}
#mc_embed_signup form {
  display: block;
  text-align: center;
}
#mc_embed_signup label, #mc_embed_signup input {
  display: block;
  font-size: 1em;
  margin: 0.5em auto;
  text-align: center;
}

#page.bio {
  text-align: left;
}

#page.bio .container {
  font-size: 0.7em;
  max-width: 600px;
  text-align: left;
}

#page.bio header {
  margin: 2em;
  text-align: left;
}

#page.bio h1 {
  margin: 0.2em 0;
  text-align: left;
}

#page.bio .photo-wrapper img {
  height: auto;
  max-width: 250px;
  vertical-align: top;
  width: 100%;
}

#page.bio ul, #page.bio ul li {
  text-align: left;
}

#page.bio ul li {
  margin: 0 4em 2em 0;
}
