@media screen {
    * {-webkit-font-smoothing: antialiased;}
}


body { 	
	color: #000;		
	background: #fff;
    /* 24/16 = 1.5 our baseline ratio */
	font: normal 16px/24px Constantia, Georgia, "Lucida Bright", "Liberation Serif", serif;
}

/* ======== */
/* ! Misc   */
/* ======== */
.hidden { display: none }
.invisible { visibility: hidden }
.hneoyopt { display: none } 
.block { display: block }


/* ============== */
/* ! Hyperlinks   */
/* ============== */


a {
	color: #000;
	text-decoration: none;		
	border-bottom: 1px dotted #999;	    
}

.dim a {
	color: #666;
}

a:visited {	
/*     color: #666; */
}

a:hover,
.dim a:hover {
	color: #a72020;	
	border-bottom: 1px solid #a72020;
}

/*
a.broken { 
   text-decoration: line-through;
}
*/

a.feed {
    background: url(../i/icon-feed.png) left center no-repeat;
    padding-left: 14px;
}

/* External link */
article a[href^='http'] {
    background: url(../i/icon-link.png) right center no-repeat;
    padding-right: 14px;
}

/* ========== */
/* ! Layout   */
/* ========== */

nav a {
  font: normal 14px/24px Calibri, "Helvetica Neue", Arial, Helvetica, "Liberation Sans", sans-serif;
}

header { 
   background: #eee url(../i/border.png) bottom left repeat-x;
   padding: .75em 0 .75em 3em;
   color: #666;   
}

header .tagline {
}

.content {
    padding: 1.5em 0 3em 3em;   
	max-width: 40em;
}

footer {    
    padding: .75em 0 3em 3em; 
    border-top: 1px solid #ccc; 
}

footer nav {
    margin: 0 0 .75em 0;
}

footer nav,
footer p {    
    font-size: 14px;     
    color: #666;
}

footer form {
    font: normal 14px/24px Calibri, "Helvetica Neue", Arial, Helvetica, "Liberation Sans", sans-serif;
    margin: .428em 0 .428em 0;
}



/* ================= */
/* ! HTML elements   */
/* ================= */


p {
	margin: 0 0 .75em 0;
}

ul, ol {
	margin: .75em 0 .75em 1.5em;
}

ul {
	list-style: circle outside;
}

/* Nested lists, up 2 levels are styled */
ul ul { 
	margin: 0 0 0 1.5em;    
	list-style-type: square;
}

ul ul ul { 
	list-style-type: disc;
}

ol {
	list-style: decimal outside;
}

/* Nested lists, up 2 levels are styled */

ol ol {
	margin: 0 0 0 1.5em;    
	list-style: lower-latin outside;
}

ol ol ol {
	list-style: lower-roman outside;
}


dl {
    margin: 0 0 .75em 0;
}

dt {
    font: bold 14px/24px Calibri, "Helvetica Neue", Arial, Helvetica, "Liberation Sans", sans-serif;
    margin: .428em 0 0 0;    
}

dd {
    margin: 0 0 0 .856em;
    color: #666;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6, caption, th {	
	font: normal 16px/24px Calibri, "Helvetica Neue", Arial, Helvetica, "Liberation Sans", sans-serif;		
}

h1 {
	color: #a72020;
	font-size: 24px;	
	line-height: 24px;
	font-weight: bold;
	margin: 1em 0 1em 0;
}

h2 {
	font-size: 18px;	
	margin: 1.3em 0 .66em 0;
	font-weight:bold;
}

h2 span {
    color: #666;
    font-size: 14px;
}

/* Reveal */
h2:hover span.invisible {
    visibility: visible;
}

h2:hover span a {
    border-bottom: none;
}

h2:target {
    color: #a72020;
}


h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    color: #666;
    font-weight: bold;
	margin: .856em 0 .856em 0;
}


strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

/*
article img {
	display: block;	
}
*/

/*
blockquote  {
   padding: .75em .75em;   
   margin: 1.5em;
   color: #a72020;	   
   font-size: 14px;   
}
*/

/* Inline and block preformatted text */
tt,
pre {	
    font: normal 13px/24px Consolas, Menlo, "Courier New", "Lucida Console", monospace;
    background: #eee;
}

pre {	
    line-height: 21px;
    margin: 0 0 .92em 0;    
    padding: .46em;

    /* See: http://pathfindersoftware.com/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
    white-space: pre; 
    white-space: pre-wrap; 
    word-wrap: break-word;
    
	/* IE won't scroll without this */
	width: 99%;	
	overflow-x: auto;
}

ins {
    background: #ddebca;
    text-decoration: none;
}

del {
    color: #666;
    text-decoration: none;    
}

hr {
    margin: 1.5em auto;
    background: none;
    border: none;
    border-top: 1px solid #999;
    width: 40%;
}

table {
    margin: 0 0 .75em 0;
    border-top: 1px solid #999;
}

table th,
table td {
    font-size: 14px;
    padding: .21em .42em;    
}

table th {    
    background: #fffce0;
    font-weight: bold;
    color: #333;
}

table tr {
    border-bottom: 1px solid #999;
}



/* ========== */
/* ! System   */
/* ========== */
 
ul.revisions .minor {
    color: #666;
}


.empty {
    font-style: italic;
}

.meta {
    margin: 3.42em 0 0 0;
    font: normal 14px/24px Calibri, "Helvetica Neue", Arial, Helvetica, "Liberation Sans", sans-serif;
    color: #666;
}

.meta ul {
    list-style: none;
    margin: .875em 0 0 0;
}

kbd {
    border: 1px solid #999;
/*     background: #eee url(../i/kbd.png) bottom left repeat-x; */
/*     text-shadow: 0 1px 0 rgba(100%, 100%, 100%, .75); */
    border-radius: 2px;
    padding: 1px 0;
    font-size: 13px;
    line-height: 13px;
    width: 1.2em;
    display: inline-block;    
    text-align: center;
    color: #666;
}

.message {
    font: normal 14px/24px Calibri, "Helvetica Neue", Arial, Helvetica, "Liberation Sans", sans-serif;    
    padding: .428em;
    border: 1px solid transparent;

}

.message.info {
    color: #4b8240;
    border-color: #ccc;
}

.message.warning {
/*     background: #fff2c9; */
}

.message.error {
    color: #a72020;
    border: 1px solid #a72020;
    background: #ffd6d6;    
}


/* ========= */
/* ! Forms   */
/* ========= */

fieldset {
    margin: 0 0 .75em 0;
}

input, 
select, 
button, 
textarea {        
    margin: 0;    	
	font: inherit;    
}

button,
input[type='text'], 
input[type='password'], 
textarea {    
	border: 1px dotted #999;
}

input[type='text'], 
input[type='password'], 
textarea {    
    font: normal 13px/21px Consolas, Menlo, "Courier New", "Lucida Console", monospace;
}

textarea {    
    width: 99%;
}

button {	
	cursor: pointer;		
	font: bold 13px/1em Calibri, "Helvetica Neue", Arial, Helvetica, "Liberation Sans", sans-serif;	
	padding:  7px 7px 8px 7px;
	background: #a61f1f url(../i/button-red.png) top left repeat-x;
	color: #fff;	
	border: 1px solid #731616;	

    -moz-border-radius: 5px;    	
    border-radius: 5px;    	    

    text-shadow: 0 1px 1px rgba(0,0,0,.4);    

    /* make buttons play nice in IE:   
        www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ 
    */
    width: auto; 
    overflow: visible; 
}

button::-moz-focus-inner { border: none; }

.hint {
    margin-top: 1.71em;
    font-size: 14px;
}

article.edit textarea {
/*     border: 1px dotted #ccc58b; */
/*     background: #fffce0; */
}


/* ========== */
/* ! Mobile   */
/* ========== */

@media handheld, only screen and (max-width: 767px) {

    footer,
    header {
        padding: .75em;
    }

    /* Hide stuff */
    header,
    footer nav {
        display: none;
    }

    footer form.hidden {
        font: normal 14px/24px Calibri, "Helvetica Neue", Arial, Helvetica, "Liberation Sans", sans-serif;
        display: block;
    }
        
    .content {
        padding: 1.5em .75em;
    	max-width: auto;
    }

    .meta {
        margin: 1.71em 0 0 0;
    }    

    pre {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    h1 {
    	margin: 0 0 .75em 0;
    }

    /* Always reveal */
    h2 span.invisible {
        visibility: visible;
    }

    h3, h4, h5, h6 {
        /* Save space */
        letter-spacing: 0;    
        text-transform: none;        
    }

    article img {
    	width: 100%;
    	height: auto;        
    }    

    /* Autohyphen only large chunks of text */
    article p, 
    article li {
        hyphens: auto;
        -webkit-hyphens: auto;             
    }

}






