body { 	
    background: white;	
    /* line-height: 10pt*1.5 = 15pt  */
    font: normal 10pt/1.5em Constantia, Georgia, "Lucida Bright", "Liberation Serif", serif;
}

/* ============== */
/* ! Hyperlinks   */
/* ============== */

a {
    color: #000;
	border-bottom: none;	
    text-decoration: none;
}

article a[href^='http'] {
    background: none;
    padding-right: 0;
}

/* Readable hyperlinks */
.content a:after {
   content: " (" attr(href) ") ";
   font-size: 9pt;
}

/* ========== */
/* ! Layout   */
/* ========== */

header, 
footer,
.noprint {
    display: none;
}

.content {
    max-width: auto;
    margin: 0 10% 0 0;
}

/* ========== */
/* ! System   */
/* ========== */

.meta {
    font-size: 9pt;
}

/* ================= */
/* ! HTML elements   */
/* ================= */


h1, h2, h3, h4, h5, h6, caption, th {	
	font: normal 12pt/15pt Calibri, "Helvetica Neue", Arial, Helvetica, "Liberation Sans", sans-serif;		
}

h1 {
	color: #000;
	font-size: 14pt;	
	margin: 0 0 1.5em 0;
}

h3 {
    letter-spacing: 1pt;
    font-size: 11px;
}

tt,
pre {	
    font: normal 9pt/12pt Consolas, Menlo, "Courier New", "Lucida Console", monospace;
    /* Browser will forget background hence no 
         padding is necessary */
    padding: 0;    
}

ins {
    background: #eee;
    text-decoration: none;
}

del {
    color: #666;
    text-decoration: line-through;
}

hr {
    border-top: .75pt solid #999;
}

table {
    border-top: .75pt solid #999;
}

table th,
table td {
    font-size: 9pt;
}

table tr {
    border-bottom: .75pt solid #999;
}


