<article>

    <h1>AboutBikini</h1>

    <p>This site is a Bikini $BIKINI_VERSION installation. Please refer to the <a href="http://lab.passiomatic.com/bikini/">Bikini project page</a> for the latest release 
        and documentation. </p>
        
    <dl>
        <dt><a href="./AboutBikini">AboutBikini</a></dt>
        <dd>This page.</dd>
                
        <dt><a href="./Names">Names</a></dt>
        <dd>Lists all pages.</dd>

        <dt><a href="./Needed">Needed</a></dt>
        <dd>Lists pages linked to but not yet made.</dd>
        
        <dt><a href="./RecentChanges">RecentChanges</a></dt>
        <dd>Lists the most recent changes.</dd>
        
        <dt><a href="./Unlinked">Unlinked</a></dt>
        <dd>Lists pages not linked to elsewhere.</dd>
    </dl>
    
</article>

