<article>
    
    $message
    
    <h1>$page_id</h1>
    
    $content
    
    <div class="meta dim">
        Page last modified on $last_modified_on.
        <ul class="noprint">
            <li><kbd>A</kbd>&nbsp;<a title="Shortcut: A key"  href="$BASE_URI/$page_id/about">About this page</a></li>
            <li><kbd>E</kbd>&nbsp;<a title="Shortcut: E key" href="$BASE_URI/$page_id/edit">Edit</a></li>
            <li><kbd>S</kbd>&nbsp;<a title="Shortcut: S key"  href="$BASE_URI/$page_id/source">View source</a></li>
        </ul>
    </div>

</article>

<script src="$BASE_URI/j/jquery.hotkeys.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {

    $(document).bind('keypress', 'e', function() {
        window.location.href = '$BASE_URI/$page_id/edit';
    });
    
    $(document).bind('keypress', 'a', function() {
        window.location.href = '$BASE_URI/$page_id/about';
    });

    $(document).bind('keypress', 's', function() {
        window.location.href = '$BASE_URI/$page_id/source';
    });

    function slugify(string) {
        return string.toLowerCase().replace(/[^\w\s\u00c2-\uffff-]/g, '').replace(/[-\s]+/g, '-')
    }
    
    function permalink(index, title) {
        var template = $('<span class="dim invisible">&nbsp;<a title="Link for this section">&infin;</a></span>');    
        var slug = slugify(title) || index
        
        var a = template.find('a')        
        a.attr('href', '#s-' + slug);                
        $(this).attr('id', 's-' + slug);
        
        return template; 
    }
    
    $('article h2').append(permalink)
    
});
</script>



